<div class="formContainer">
  <form
    [formGroup]="botSendForm"
    (ngSubmit)="onSubmit(botSendForm)"
  >

    <mat-form-field class="col-sm-12">
      <mat-label>method</mat-label>
      <mat-select formControlName="method" (valueChange)="showOption($event)">
        <mat-option value="sendMessage">message</mat-option>
        <mat-option value="sendPhoto">photo</mat-option>
        <mat-option value="sendVideo">video</mat-option>
        <mat-option value="sendAudio">audio</mat-option>
        <mat-option value="sendDocument">document</mat-option>
        <mat-option value="sendAnimation">animation</mat-option>
        <mat-option value="sendVoice">voice</mat-option>
        <mat-option value="sendVideoNote">video_note</mat-option>
        <mat-option value="sendMediaGroup">media</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-label>chat_id</mat-label>
      <input
        matInput
        type="text"
        name="chat_id"
        formControlName="chat_id"
      />
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-label>text</mat-label>
      <textarea
        cols="10"
        rows="10"
        matInput
        name="text"
        formControlName="text">
      </textarea>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <input
        matInput
        type="text"
        name="capture"
        formControlName="caption"
      />
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-label>reply_markup</mat-label>
      <textarea
        cols="10"
        rows="10"
        matInput
        name="text"
        formControlName="reply_markup">
      </textarea>
    </mat-form-field>

    <input
      type="file"
      (change)="loadPosterLoaderPreview($event)"
      name="photo"
    />

    <button
      class="col-sm-12"
      mat-button
      color="primary"
      type="submit"
    >
      submit
    </button>
  </form>

</div>
