/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.formContainer {
  border: solid grey 1px;
  width: 70vw;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}
